.nav-sidebar
  ul
    li 
      a(href='/investment/' class="#{ current.source == 'index' ? 'active' : '' }") Investment
    li 
      a(href='/investment/mine-finance/' class="#{ current.source == 'mine-finance' ? 'active' : '' }") Mine Finance
    ul
      li 
        a(href='/investment/mine-finance/mine-finance-approach' class="#{ current.source == 'mine-finance-approach' ? 'active' : '' }") Mine Finance Approach
      li 
        a(href='/investment/mine-finance/team' class="#{ current.source == 'team' ? 'active' : '' }") Mine Finance Team
    li.last
      a(href='/investment/upstream-oil-gas' class="#{ current.source == '' ? 'active' : '' }") Upstream Oil & Gas
    ul 
      li 
        a(href='/investment/upstream-oil-gas/team' class="#{ current.source == 'team' ? 'active' : '' }") Upstream Oil & Gas Team
